# List

In [1]:
# List is a container that can hold any kind of datatypes in it

In [2]:
lst = ["Lavanya",1,22.3,[1,4,7]]

In [3]:
lst

['Lavanya', 1, 22.3, [1, 4, 7]]

In [4]:
lst[1]

1

In [5]:
lst[3][1]

4

In [6]:
lst.append("Anu")

In [7]:
lst

['Lavanya', 1, 22.3, [1, 4, 7], 'Anu']

In [8]:
lst.reverse()

In [9]:
lst

['Anu', [1, 4, 7], 22.3, 1, 'Lavanya']

In [10]:
lst.index(1)

3

In [11]:
lst.pop(1)

[1, 4, 7]

In [12]:
lst

['Anu', 22.3, 1, 'Lavanya']

In [13]:
lst.insert(1,6)

In [14]:
lst

['Anu', 6, 22.3, 1, 'Lavanya']

In [15]:
lst.count(1)

1

In [16]:
lst.remove(6)

In [17]:
lst

['Anu', 22.3, 1, 'Lavanya']

In [18]:
lst.clear()

In [19]:
lst

[]

# Dictionaries

In [20]:
# This is a key value pair data structure

In [21]:
dit = {"name":"Lavanya","age":19,"number":123456789}

In [23]:
dit

{'name': 'Lavanya', 'age': '19', 'number': 123456789}

In [24]:
dit.get("name")

'Lavanya'

In [25]:
dit.items()

dict_items([('name', 'Lavanya'), ('age', '19'), ('number', 123456789)])

In [26]:
dit.keys()

dict_keys(['name', 'age', 'number'])

In [27]:
dit.pop("age")

'19'

In [28]:
dit

{'name': 'Lavanya', 'number': 123456789}

In [30]:
dit.popitem()

('number', 123456789)

In [31]:
dit

{'name': 'Lavanya'}

In [32]:
dit.fromkeys("name")

{'n': None, 'a': None, 'm': None, 'e': None}

In [33]:
dit.update()

In [34]:
dit

{'name': 'Lavanya'}

In [35]:
type(dit)

dict

# Sets

In [36]:
# Sets are used for storing unique values in the python

In [37]:
st = {"Lavanya","Global academy of technology",1,2,4,2,2,6,7,8}

In [38]:
st

{1, 2, 4, 6, 7, 8, 'Global academy of technology', 'Lavanya'}

In [39]:
st1 = {"Lavanya",1,8}

In [40]:
st1.issubset(st)

True

In [41]:
st.add("Roopa")

In [42]:
st

{1, 2, 4, 6, 7, 8, 'Global academy of technology', 'Lavanya', 'Roopa'}

In [43]:
st.intersection("Lavanya")

set()

In [44]:
st.clear()

In [45]:
st

set()

In [46]:
st.add("Lavanya")

In [47]:
st

{'Lavanya'}

# Tuple

In [48]:
#Tuple is an ordered immutable collection of objects

In [50]:
tup = ("Lavanya","$","Global clg","Banglore","Karnataka")

In [51]:
tup

('Lavanya', '$', 'Global clg', 'Banglore', 'Karnataka')

In [52]:
tup.index("Karnataka")

4

In [53]:
tup[1]

'$'

In [54]:
tup.count("Banglore")

1

In [55]:
tup[3]

'Banglore'

# String

In [56]:
# String is datatype to store the characters

In [57]:
name = "Lavanya"
name1 = "Roopa"
name2 = "Anu"

In [58]:
name

'Lavanya'

In [59]:
name1 + name

'RoopaLavanya'

In [60]:
name1 + " " + name

'Roopa Lavanya'

In [61]:
type(name)

str

# Boolean

In [62]:
# The datatype which store True or False

In [63]:
abc = True

In [64]:
xyz = False

In [65]:
abc

True

In [66]:
xyz

False

# Integer

In [67]:
a = 20

In [68]:
b = 10

In [69]:
a

20

In [70]:
a+b

30

In [71]:
a-b

10

In [72]:
int(a/b)

2

In [73]:
type(b)

int

# Float

In [74]:
a = 2.9
b = 5.6
c = 22.3

In [75]:
a+b

8.5

In [76]:
type(c)

float

In [77]:
c-b

16.700000000000003

In [78]:
a+b+c

30.8